body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {

    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th, td{

    border: 1px solid #000;
    padding: 10px;
    font-weight: bold;
}

#cabeza {


    background-color: rgb(223, 117, 180);


}

#hora {

    background-color: darkorange;
}

#realin {

    background-color: rgb(227, 244, 130);
}

#matematicas {

    background-color: rgb(120, 120, 255);
}

#ciencias {

    background-color: aqua;
}

#historia {

    background-color: rgb(255, 115, 227);
}

#arte {

    background-color: rgb(134, 64, 128);
}

#edufisica {

    background-color: rgb(155, 101, 206);
}

#tallerdelectura {

    background-color: blueviolet;
}

#computacion {

    background-color: rgb(113, 107, 120);
}